Binaries
.vs
AssetRegistryCache
Build
/Intermediate/ProjectFiles
ReimportCache
/Intermediate/CachedAssetRegistry.bin
/Saved/Autosaves
Collections
Logs
/Saved/AutoScreenshot.png
CrashReportClient
*.db
Backup
Windows
/Saved/Config/WorldState
